
<div class="row">
    <%= form_for :user, url: users_path do |user| %>

    <p>
      <%= user.label :email %><br>
      <%= user.email_field :email %>
    </p>

    <p>
      <%= user.label :username %><br>
      <%= user.text_field :username %>
    </p>

    <p>
      <%= user.label :enter_password %><br>
      <%= user.password_field :password %>
    </p>

    <p>
      <%= user.label :confirm_password %><br>
      <%= user.password_field :password_confirmation %>
    </p>

    <p>
    <%= user.submit %>
  </p>
  <%end%>
</div>