

<%= form_for(@user) do |t| %>
  <%= render 'error_messages' %>
    <div class="row">
      <div class="small-6 columns">
          <%= t.label :email %>
          <%= t.email_field :email %>
        </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
          <%= t.label :username %>
          <%= t.text_field :username %>
        </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
          <%= t.label :enter_password %>
          <%= t.password_field :password %>
        </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
          <%= t.label :password_confirmation %>
          <%= t.password_field :password_confirmation %>
        </div>
      </div>

    <div class="row">
      <div class="small-6 columns">
        <%= t.submit value="Sign up", class: "button tiny [radius round]" %>
      </div>
    </div>
<%end%>
