<% @pois.each do |poi| %>
<li class="slider__item">
  <div class="map_div_placeholder">
    <div class="map_placeholder">

    </div>
  </div>
  <div id="elem<%=poi.id%>" class="elem">
    <h1><%= poi.name %></h1>
    <p><%= poi.description %></p>
      <div id="comments_container<%= poi.id %>">
      <%= render partial: "comments/form", locals:{poi: poi} %>
      <%= render partial: "comments/comment", collection: poi.comments%>
      </div>
  </div>
</li>
<% end %>