

    <%= javascript_include_tag 'gmaps', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "avgrund", media: "all", "data-turbolinks-track" => true %>
    <script type="text/javascript">

    var infoWindow;
      $(document).ready(function(){
        var poi_arr = []
        var map = new GMaps({
          el:'#map',
          lat: <%= @tour_center[:lat] %>,
          lng: <%= @tour_center[:lng] %>,
          zoom: <%= @tour.zoom %>,
          zoomControl: true,
          zoomControlOpt:{
            style: 'DEFAULT',
            position: 'TOP_LEFT'
          },
          panControl: false
        });

        <% @pois.each do |l| %>
          var marker<%= l.id %> = map.addMarker({
            lat: <%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,
            lng: <%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>,
            title: "<%= l.name %>",
            id: "<%= l.id %>",
            visible: false
            }
          )

          var info<%= l.id %> = new google.maps.InfoWindow();
          var infoLoc<%= l.id %> = new google.maps.LatLng(<%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,<%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>);
          info<%= l.id %>.setOptions({
            content: '<img src="<%= l.image %>" id="img<%=l.id%>">',
            position: infoLoc<%= l.id %>
          })
          info<%= l.id %>.open(map);
          google.maps.event.addListener(info<%= l.id %>, 'domready', function(){
                  $('#img<%=l.id %>').avgrund({width: 640,
                                              height: 350,
                                              showClose: false,
                                              showCloseText: '',
                                              closeByEscape: true,
                                              closeByDocument: true,
                                              holderClass: 'popup',
                                              overlayClass: '',
                                              enableStackAnimation: false,
                                              onBlurContainer: '#map',
                                              openOnEvent: true,
                                              setEvent: 'click',
                                              template: "<article class='poi_container'><img src='<%=l.image%>'><h1><%= l.name %></h1><br><%= l.description %><%= render partial: 'comments/comment', locals:{poi: l}%></article>"
                                            });
                });
        <% end %>


      }
    );
    </script>

    <div id="map"></div>
