
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript">
          var style_divvy = [
        {
          "featureType": "administrative",
          "stylers": [
            { "visibility": "off" }
          ]
        },
        {
          "featureType": "poi",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "poi.attraction",
          "stylers": [
            { "visibility": "simplified" }
          ]
        },{
          "featureType": "transit",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "road",
          "stylers": [
            { "visibility": "simplified" },
            { "color": "white"}
          ]
        },
        {
          "featureType": "road.highway",
          "stylers": [
            { "visibility": "off" },
            { "color": "white"}
          ]
        },
        {
          "featureType": "water",
          "stylers": [
            { "visibility": "on" },
            { "color": "#4f92c6" }
          ]
        }
      ];
      var styled_divvy = new google.maps.StyledMapType(style_divvy, {name: "Divvy style"});
      var mapOptions = {
          center: new google.maps.LatLng(<%= @tour_center[:lat] %>,<%= @tour_center[:lng]%>),
          zoom: <%= @tour.zoom %>,
          mapTypeControl: false,
          mapTypeControlOptions:{
            mapTypeIds: ['map_styles_divvy']
          }
        };

      function initialize() {

        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        map.mapTypes.set('map_styles_festival', styled_divvy);
        map.setMapTypeId('map_styles_festival');
        mapMarkers();
        function mapMarkers(){
        <% @location.each do |l| %>
        var mark = new google.maps.Marker({
          position: new google.maps.LatLng(<%= l[:lat] %>, <%= l[:lng] %>),
          map: map,
          title: "HELLO!"
          })
        <% end %>
        };
      };
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="map-canvas"/>
    <% @location.each do |l| %>
    <p><%= l %> </p>
    <% end %>
    <%= @location %>
