

    <%= javascript_include_tag 'gmaps', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "avgrund", media: "all", "data-turbolinks-track" => true %>
    <script type="text/javascript">

    var infoWindow;
      $(document).ready(function(){
        var poi_arr = []
        var map = new GMaps({
          el:'#map',
          lat: <%= @tour_center[:lat] %>,
          lng: <%= @tour_center[:lng] %>,
          zoom: <%= @tour.zoom %>,
          zoomControl: true,
          zoomControlOpt:{
            style: 'DEFAULT',
            position: 'TOP_LEFT'
          },
          panControl: false
        });

        <% @pois.each do |l| %>
          var marker<%= l.id %> = map.addMarker({
            lat: <%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,
            lng: <%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>,
            title: "<%= l.name %>",
            id: "<%= l.id %>",
            visible: false
            }
          )

          var info<%= l.id %> = new google.maps.InfoWindow();
          var infoLoc<%= l.id %> = new google.maps.LatLng(<%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,<%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>);
          info<%= l.id %>.setOptions({
            content: '<img src="<%= l.image %>" id="img<%=l.id%>">',
            position: infoLoc<%= l.id %>
          })
          info<%= l.id %>.open(map);
          google.maps.event.addListener(info<%= l.id %>, 'domready', function(){
                  $('#img<%=l.id %>').avgrund({width: 640,
                                              height: 350,
                                              showClose: false,
                                              showCloseText: '',
                                              closeByEscape: true,
                                              closeByDocument: true,
                                              holderClass: 'popup',
                                              overlayClass: '',
                                              enableStackAnimation: false,
                                              onBlurContainer: '#map',
                                              openOnEvent: true,
                                              setEvent: 'click',
                                              template: "<article class='poi_container'><img src='<%=l.image%>'><h1><%= l.name %></h1><br><%= l.description %></article><div class='comment_container'><%= render partial: 'comments/comment', locals:{poi: l}%></div>"
                                            });
                });
        <% end %>

        //DRAW ROUTES======================================
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById('map'));
        directionsDisplay.setMap(map);
        var waypts = [];

        <% @pois.each do |loc| %>
              waypts.push({
                  location:<%= loc.location.html_safe %>,
                  stopover:true});
         <% end %>

        var request = {
              origin: <%= @pois.first.location.html_safe %>,
              destination: <%= @pois.last.location.html_safe %>,
              waypoints: waypts,
              optimizeWaypoints: true,
              travelMode: google.maps.TravelMode.BICYCLING
          };
          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
              var route = response.routes[0];
              // var summaryPanel = document.getElementById('directions_panel');
              // summaryPanel.innerHTML = '';
              // // For each route, display summary information.
              // for (var i = 0; i < route.legs.length; i++) {
              //   var routeSegment = i + 1;
              //   summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment + '</b><br>';
              //   summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              //   summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              //   summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
              // }
            }
          });
        
      //ROUTES END===============================================  

      }
    );
    </script>

    <div id="map"></div>
