

    <%= javascript_include_tag 'gmaps', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "avgrund", media: "all", "data-turbolinks-track" => true %>
    <script type="text/javascript">

    var infoWindow;
      $(document).ready(function(){
        var poi_arr = []
        var map = new GMaps({
          el:'#map',
          lat: <%= @tour_center[:lat] %>,
          lng: <%= @tour_center[:lng] %>,
          zoom: <%= @tour.zoom %>,
          zoomControl: true,
          zoomControlOpt:{
            style: 'DEFAULT',
            position: 'TOP_LEFT'
          },
          panControl: false
        });

        <% @pois.each do |l| %>
          var marker<%= l.id %> = map.addMarker({
            lat: <%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,
            lng: <%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>,
            title: "<%= l.name %>",
            id: "<%= l.id %>",
            visible: false
            }
          )

          var info<%= l.id %> = new google.maps.InfoWindow();
          var infoLoc<%= l.id %> = new google.maps.LatLng(<%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,<%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>);
          info<%= l.id %>.setOptions({
            content: '<img src="<%= l.image %>" id="img<%=l.id%>">',
            position: infoLoc<%= l.id %>
          })
          info<%= l.id %>.open(map);
          google.maps.event.addListener(info<%= l.id %>, 'domready', function(){
                  $('#img<%=l.id %>').avgrund({width: 640,
                                              height: 350,
                                              showClose: false,
                                              showCloseText: '',
                                              closeByEscape: true,
                                              closeByDocument: true,
                                              holderClass: 'popup',
                                              overlayClass: '',
                                              enableStackAnimation: false,
                                              onBlurContainer: '#map',
                                              openOnEvent: true,
                                              setEvent: 'click',
                                              template: '<article class="poi_container"><img src="<%=l.image%>"><h1><%= l.name %></h1><br><%= l.description %></article><div class="comment_container"><%= escape_javascript(render partial: "comments/form", locals:{poi: l}) %><%= render partial: "comments/comment", locals:{poi: l}%></div>'
                                            });
                });

    $.ajax({url:"http://shrouded-beach-2183.herokuapp.com/stations/nearby",
            data: {lat: <%= JSON.parse(l.location, {symbolize_names: true})[:lat] %>,
            lon: <%= JSON.parse(l.location, {symbolize_names: true})[:lng] %>},
            type: "GET",
            dataType: "json",
            success: function(json){
            var created_station_ids = [];
              for (var i = json.length - 1; i >= 0; i--) {
                if (created_station_ids.indexOf(json[i].properties.id) === -1) {
                  map.addMarker({
                    lat:json[i].geometry.coordinates[1],
                    lng:json[i].geometry.coordinates[0],
                    infoWindow: {content: 'Station Name: ' + json[i].properties.stationName + ' <br> Available Bikes: ' + json[i].properties.availableBikes + '<br> Available Docks: ' + json[i].properties.availableDocks},
                    visible: true
                  });
                }
                created_station_ids.push(json[i].properties.id);
              }
            }
          });
        <% end %>
      }
    );


    </script>

    <div id="map"></div>

