<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "Divvy Up" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'jquery.vide.min'%>
    <%= stylesheet_link_tag "foundation-icons" %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
  </head>



  <body data-vide-bg="assets/bike.mp4"  data-vide-options="loop: true, muted: false, position: 0% 0%">
  <%= render 'partials/nav' %>
   


    <%= yield %>
  </body>
</html>
