<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "Divvy Up" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'jquery.vide.min'%>
    <%= stylesheet_link_tag "foundation-icons" %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
  </head>
<<<<<<< HEAD

  <%= render 'partials/nav' %>
=======
  <body data-vide-bg="assets/bike.mp4"  data-vide-options="loop: true, muted: false, position: 0% 0%">
   <nav class="icon-bar five-up">
      <a class="item">
        <label>About Us</label>
      </a>
      <a class="item">
        <label>Contact Us</label>
      </a>
      <a class="item">
        <label>Tour</label>
      </a>
      <% if signed_in? %>
        <%= link_to ("<label>Sign Out</label>").html_safe, signout_path, method: "delete", class: "item"%><label>Sign Out</label>
      <% else %>
        <%= link_to ("<label>Sign In</label>").html_safe, signin_path, class: "item" %> or <%= link_to ("<label>Sign Up</label>").html_safe, signup_path, class: "item" %>
      <% end %>
    </nav>
>>>>>>> 6a3fb80b16f89543ed45f492dca7b328f21965a3

    <%= yield %>
  </body>
</html>
